.containerItemDetail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  background-color: #322a3f;
}

.containerImage {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerImage img {
  width: 100%;
  height: auto;
}

.containerDetail {
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerDetail h2 {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 600;
  margin: 10px 0;
  border: 2px solid #ddd;
  padding: 10px;
  border-radius: 10px;
  color: #f7f7f7;
}

.itemCountContainer {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.containerItemDetail {
  background-color: #690e9e;
}
