#miBotonRestar,
#miBotonSumar,
#miBotonAgregar {
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 12px 24px;
  font-size: 20px;
  cursor: pointer;
  margin: 4px;
}

#miBotonRestar:hover,
#miBotonSumar:hover,
#miBotonAgregar:hover {
  background-color: #333;
}

.contadorT {
  font-size: 20px;
  color: azure;
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
  width: 300px;
}
.stockT {
  font-size: 2em;
  color: azure;
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
  width: 300px;
}
